# Compose schema version
version: '3.3'

# Overriding requirements
services:
  client:
    build:
      args:
        REQUIREMENTS: examples/mnist-pytorch-fedprox/requirements.txt
    deploy:
      replicas: 2
    volumes:
      - ${HOST_REPO_DIR:-.}/fedn:/app/fedn
      - ${HOST_REPO_DIR:-.}/examples/mnist-pytorch-fedprox/data:/var/data
      - ${HOST_REPO_DIR:-.}/examples/mnist-pytorch-fedprox/client_settings.yaml:/var/client_settings.yaml
      - /var/run/docker.sock:/var/run/docker.sock
