version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "deps"
    labels:
      - "dependencies"
    reviewers:
      - "Wrede"
      - "stefanhellander"
      - "niklastheman"
    # To ignore a dependency, uncomment the next two lines and replace "example-package" with the name of the dependency
    #ignore:
    #  - dependency-name: "example-package"
    #    versions: ["< 1.0.0"]
