# Compose schema version
version: '3.4'

# Setup network
networks:
  default:
    name: fedn_default

services:
  # Base services
  minio:
    image: minio/minio:14128-5ee91dc
    hostname: minio
    environment:
      - GET_HOSTS_FROM=dns
      - MINIO_HOST=minio
      - MINIO_PORT=9000
      - MINIO_ROOT_USER=fedn_admin
      - MINIO_ROOT_PASSWORD=password
    command: server /data --console-address minio:9001
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://minio:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
    ports:
      - 9000:9000
      - 9001:9001

  mongo:
    image: mongo:7.0
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=fedn_admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    ports:
      - 6534:6534
    command: mongod --port 6534

  mongo-express:
    image: mongo-express:latest
    restart: always
    depends_on:
      - "mongo"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=6534
      - ME_CONFIG_MONGODB_ADMINUSERNAME=fedn_admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - ME_CONFIG_BASICAUTH_USERNAME=fedn_admin
      - ME_CONFIG_BASICAUTH_PASSWORD=password
    ports:
      - 8081:8081

  api-server:
    environment:
      - GET_HOSTS_FROM=dns
      - USER=test
      - PROJECT=project
      - FLASK_DEBUG=1
      - STATESTORE_CONFIG=/app/config/settings-reducer.yaml.template
      - MODELSTORAGE_CONFIG=/app/config/settings-reducer.yaml.template
      - FEDN_COMPUTE_PACKAGE_DIR=/app
      - TMPDIR=/app/tmp
    build:
      context: .
      args:
        BASE_IMG: ${BASE_IMG:-python:3.12-slim}
    working_dir: /app
    volumes:
      - ${HOST_REPO_DIR:-.}/fedn:/app/fedn
    depends_on:
      - minio
      - mongo
    command:
      - controller
      - start
    ports:
      - 8092:8092

  # Combiner
  combiner:
    environment:
      - PYTHONUNBUFFERED=0
      - GET_HOSTS_FROM=dns
      - STATESTORE_CONFIG=/app/config/settings-combiner.yaml.template
      - MODELSTORAGE_CONFIG=/app/config/settings-combiner.yaml.template
      - HOOK_SERVICE_HOST=hook:12081
      - TMPDIR=/app/tmp
      - FEDN_COMBINER_CONFIG=/app/config/settings-combiner.yaml.template
    build:
      context: .
      args:
        BASE_IMG: ${BASE_IMG:-python:3.12-slim}
        GRPC_HEALTH_PROBE_VERSION: v0.4.35
    working_dir: /app
    volumes:
      - ${HOST_REPO_DIR:-.}/fedn:/app/fedn
    entrypoint: ["sh", "-c"]
    command:
      - "/venv/bin/python /app/fedn/network/combiner/combiner.py"
    ports:
      - 12080:12080
    healthcheck:
      test: [ "CMD", "/app/grpc_health_probe", "-addr=localhost:12080" ]
      interval: 20s
      timeout: 10s
      retries: 5
    depends_on:
      - api-server
      - hooks
  # Hooks
  hooks:
    container_name: hook
    environment:
      - GET_HOSTS_FROM=dns
      - TMPDIR=/app/tmp
    build:
      context: .
      args:
        BASE_IMG: ${BASE_IMG:-python:3.12-slim}
        GRPC_HEALTH_PROBE_VERSION: v0.4.35
    working_dir: /app
    volumes:
      - ${HOST_REPO_DIR:-.}/fedn:/app/fedn
    entrypoint: [ "sh", "-c" ]
    command:
      - "/venv/bin/pip install --no-cache-dir -e . && /venv/bin/fedn hooks start"
    ports:
      - 12081:12081
    healthcheck:
      test: [ "CMD", "/bin/grpc_health_probe", "-addr=localhost:12081" ]
      interval: 20s
      timeout: 10s
      retries: 5

  # Client
  client:
    environment:
      - GET_HOSTS_FROM=dns
      - FEDN_PACKAGE_EXTRACT_DIR=package
    build:
      context: .
      args:
        BASE_IMG: ${BASE_IMG:-python:3.10-slim}
    working_dir: /app
    volumes:
      - ${HOST_REPO_DIR:-.}/fedn:/app/fedn
    command:
      - client
      - start
      - --api-url
      - http://api-server:8092
    deploy:
      replicas: 0
    depends_on:
      combiner:
        condition: service_healthy
