{% extends "index.html" %}

{% block content %}


    <div class="card">
    <div class="card-header">
        <h5 class="card-title">EULA</h5>
    </div>
    <div class="card-body">

    <style type="text/css">
        #container {

        }
    </style>
    </head>
    <body>
    <div id="container">
        <div>
            This software comes with absolutely no warranty and should be used on your own risk.
        </div>
        <div>
            This product includes GeoLite2 data created by MaxMind, available from
            <a href="https://www.maxmind.com">https://www.maxmind.com</a>.
        </div>
    </div>



{% endblock %}
