{% extends "index.html" %}

{% block content %}
    <div class="card">
      <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js">
      </script> <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.0.min.js">
      </script> <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js">
      </script> <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.0.min.js">
      </script> <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.0.min.js">
      </script> <script type="text/javascript"></script>

        <div class="card-header">
            <h5 class="card-title">Network composition</h5>
            <h6 class="card-subtitle text-muted">Distribution of reducers, combiners and clients.</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7">

                    <style>
                            #myplot {
                                /*width: 600px;*/
                                height: 450px;
                            }
                    </style>
                    <div id="myplot">
                        <script>
                            async function network_graph() {
                                try {
                                    $("#myplot").html('');
                                      const response = await fetch('/networkgraph');
                                      item = await response.json();
                                      return Bokeh.embed.embed_item(item);
                                    }
                                catch (e) {
                                      return false;
                                    }
                            }
                            network_graph();
                            /*setInterval(network_graph, 5000);*/
                        </script>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h5 class="card-title">Download config</h5>
                    <h6 class="card-subtitle text-muted">To connect additional clients you need a configuration which you
                        can download here.</h6>
                    <div class="mb-2 mt-4">
                        <a href="/config/download">
                            <button class="btn btn-primary"><i class="far fa-file-download"></i> Download client config
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Combiners</h5>
        </div>
        <div class="card-body">
            {% if not combiner_info %}
                <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <strong>No combiners online!</strong>
                    </div>
                </div>
             {% else %}
                <table id="all_combiners" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Active trainers</th>
                        <th>Active validators</th>
                        <th>IP</th>
                        <!-- <th>Country</th>
                        <th>Region</th>
                        <th>City</th>-->
                    </tr>
                    </thead>
                <tbody>
                {% for dict_item in combiner_info %}
                <tr>
                    <td>{{ dict_item['name'] }}</td>
                    <td>{{ dict_item['nr_active_trainers'] }}</td>
                    <td>{{ dict_item['nr_active_validators'] }}</td>
                    <td>{{ dict_item['ip'] }}</td>
                    <!-- <td>{{ dict_item['country'] }}</td>
                    <td>{{ dict_item['region'] }}</td>
                    <td>{{ dict_item['city'] }}</td> -->
                </tr>
                {% endfor %}
                </tbody>
                </table>
            {% endif %}
    </div>
</div>


<!-- Active Trainers table-->
<script>
    $(document).ready(function() {
    $('#all_clients').DataTable({
        "order": [[5, "asc" ]]
    });
} );
</script>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Clients</h5>
    </div>
    <div class="card-body">
        {% if not active_clients %}
        <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
            <div class="alert-icon">
                <i class="far fa-fw fa-bell"></i>
            </div>
            <div class="alert-message">
                <strong>No active trainers online!</strong>
            </div>
        </div>
        {% else %}
        <table id="all_clients" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Combiner</th>
                <th>IP</th>
                <th>Updated At</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for client in active_clients %}
            <tr>
                <td>{{ client['name'] }}</td>
                <td>{{ client['combiner'] }}</td>
                <td>{{ client['ip'] }}</td>
                <td>{{ client['updated_at'] }}</td>
                <td>{{ client['role'] }}</td>
                {% if client['status'] == 'offline' %}
                <td><p class="text-danger">{{ client['status'] }}</p></td>
                {% else %}
                <td><p class="text-success">{{ client['status'] }}</p></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Round time</h5>
    </div>
    <div class="card-body">
        <div class="card-body">
            {% if not round_time_plot %}
                <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <strong>No data currently available for round time!</strong>
                    </div>
                </div>
            {% else %}
                <div id="round">
                    <script>
                        var graphs = {{ round_time_plot | safe  }};
                        Plotly.plot('round', graphs, {});
                    </script>
                </div>
            {% endif %}
        </div>
    </div>
</div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Combiner load</h5>
        </div>
        <div class="card-body">
            {% if not combiners_plot %}
                <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <strong>No data currently available for combiners!</strong>
                    </div>
                </div>
            {% else %}
                <div id="combiner">
                    <script>
                        var graphs = {{ combiners_plot | safe }};
                        Plotly.plot('combiner', graphs, {});
                    </script>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Controller MEM and CPU Monitoring</h5>
        </div>
        <div class="card-body">
            {% if not mem_cpu_plot %}
                <div class="alert alert-danger alert-outline alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <strong>No data currently available for MEM and CPU usage!</strong>
                    </div>
                </div>
            {% else %}
                <div id="monitoring">
                    <script>
                        var graphs = {{ mem_cpu_plot | safe }};
                        Plotly.plot('monitoring', graphs, {});
                    </script>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
