/* <----------- navbar -----------> */
.wy-side-nav-search {
    background: #ffffff;
}

.wy-nav-side {
    background: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.wy-menu-vertical a {
    color: #000000;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #000000;
    opacity: 0.5;
}

.wy-menu-vertical a:hover {
    background: var(--scaleout-grey-5);
    cursor: pointer;
}

.wy-menu-vertical li.current ul {
    background: var(--scaleout-grey-1);
}

.wy-menu-vertical li.current a:hover {
    background: var(--scaleout-grey-5);
}

/* <----------- EO navbar -----------> */

/* <----------- Code block -----------> */

.highlight {
    background: var(--scaleout-grey-1) !important;
}

/* <----------- EO Code block -----------> */

/* <----------- Info block -----------> */

.admonition {
    background: var(--scaleout-grey-1) !important;
}

.admonition-title {
    background: var(--scaleout-grey-6) !important;
    color: var(--scaleout-black) !important;
    opacity: .6 !important;
}

/* <----------- EO Info block -----------> */