@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --scaleout-black: #191919;
    --scaleout-black-rgb: 25, 25, 25;
    --scaleout-red: #E0746D;
    --scaleout-red-rgb: 224, 116, 109;
    --scaleout-yellow: #EBD886;
    --scaleout-yellow-rgb: 235, 216, 134;
    --scaleout-green: #81B967;
    --scaleout-green-rgb: 129, 185, 103;
    --scaleout-white: #FFFFFF;
    --scaleout-white-rgb: 255, 255, 255;
    --scaleout-grey-1: #F8F8F8;
    --scaleout-grey-1-rgb: 248, 248, 248;
    --scaleout-grey-2: #F2F5F9;
    --scaleout-grey-2-rgb: 242, 245, 249;
    --scaleout-grey-3: #F2F6F5;
    --scaleout-grey-3-rg: 242, 246, 245;
    --scaleout-grey-4: #FEFAE9;
    --scaleout-grey-4-rgb: 254, 250, 233;
    --scaleout-grey-5: #F6EDE4;
    --scaleout-grey-5-rgb: 246, 237, 228;
    --scaleout-grey-6: #DDDDDD;
    --scaleout-grey-6-rgb: 221, 221, 221;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: "Manrope", sans-serif;
    font-style: normal;
}

p {
    opacity: .8;
    line-height: 1.7;
}