div.wy-nav-content {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    max-width: 80%;
}

nav.wy-nav-side {
    background-color: var(--scaleout-white);
    background: var(--scaleout-white);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    width: 340px;
}

div.wy-side-nav-search {
    background-color: var(--scaleout-white);
    width: 340px;
}

div.wy-menu-vertical {
    width: 340px;
}

.wy-menu-vertical li.current {
    background: var(--scaleout-white);
}

.wy-menu-vertical li.toctree-l2.current>a {
    background: var(--scaleout-white);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: var(--scaleout-white);
}

.wy-menu-vertical li.current a {
    color: var(--scaleout-black);
    border: 0;
    padding: 0.4045em 2.427em;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border: 0;
}

div.wy-side-scroll {
    width: 340px;
}

.wy-nav-content-wrap {
    margin-left: 340px;
}