attrdict
certifi
chardet
PyYAML
requests==2.25.0
urllib3
minio==6.0.0
six
python-slugify==4.0.1
prettytable==1.0.1
grpcio-tools>=1.32.0
grpcio>=1.32.0
protobuf
pypandoc==1.5
wheel
pyopenssl
psutil
click
nltk
deprecated