{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
<a href="/controller/"><li role="presentation" class="active">Overview</li></a>
            </ul>
        </nav>
        <h3 class="text-muted">FEDn Alliance {{name}}</h3>
    </div>

    <h2> Combiner: {{ combiner.name }}</h2>
    <p></p>

   <div class="jumbotron">
       <p><a href="{% url 'combiners:start' combiner.name %}"><button class="btn btn-primary">Start</button></p></a>
       <p><a href="{% url 'combiners:stop' combiner.name %}"><button class="btn btn-secondary">Stop</button></p></a>
       <p><a href="{% url 'combiners:snapshot' combiner.name %}"><button class="btn btn-warning">Reset</button></p></a>
       <h3>STATUS: {{ status }}</h3>
   </div>
    <div class="col-rg-12" style="min-height:300px;">
        <h3>Configuration</h3>
        <div>
            <p>{{ configuration.name }}</p>
            <p>Timeout: {{ configuration.timeout }}</p>
            <p>Rounds: {{ configuration.rounds }}</p>
            <p>Requested clients: {{ configuration.clients_requested }}</p>

            <p>Seed: {{ configuration.seed }}</p>
            <p>Status: {{ configuration.status }}</p>


        </div>
        <p><a href="{% url 'combiners:configure' combiner.name %}"><button class="btn btn-info">Configure</button></p></a>

        <h3>Persistent Storage</h3>
        <div>
            <p>Type: {{ configuration.storage_type }}</p>
            <p>Host: {{ configuration.storage_hostname }}</p>
            <p>Port: {{ configuration.storage_port }}</p>
            <p>Access_key : {{ configuration.storage_access_key }}</p>
            <p>Secret_key : ********* </p>
            <p>Bucket: {{ configuration.storage_bucket }}</p>
        </div>

    </div>

    <div class="col-rg-12" style="min-height:300px;">
            <h3>Assigned clients</h3>
            <table class="table">
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Status</th>
                    <th> Joined at</th>
                </tr>
                </thead>

                {% for client in clients %}
                    <tr>
                        <th>{{ client.name }}</th>
                        <th>{{ client.status }}</th>
                        <th>{{  client.created_at }}</th>
                        <th></th>
                    </tr>
                {% endfor %}

            </table>

    </div>


    <footer class="footer">
        <p>&copy; 2020 Scaleout Systems AB</p>
    </footer>

</div> <!-- /container -->
{% endblock %}
