attrdict
certifi
chardet
PyYAML
requests==2.25.0
urllib3
minio==6.0.0
six
python-slugify==4.0.1
wheel
pymongo==3.11.0
Flask==1.1.2
Flask-WTF==0.14.3
pyopenssl
plotly
ttictoc
flask_profiler
psutil
click
jinja2==2.11.3
nltk
geoip2
deprecated
pandas #BUY WHY!!
numpy==1.18.5
h5py==2.10.0
sklearn
