# Compose schema version
version: '3.3'

# Overriding requirements
services:
  client:
    build:
      args:
        REQUIREMENTS: examples/mnist-keras/requirements.txt
    deploy:
      replicas: 2
    volumes:
      - ${HOST_REPO_DIR:-.}/fedn:/app/fedn
      - ${HOST_REPO_DIR:-.}/examples/mnist-keras/data:/var/data
      - ${HOST_REPO_DIR:-.}/examples/mnist-keras/client.yaml:/app/config/settings-client.yaml
      - /var/run/docker.sock:/var/run/docker.sock
