# Compose schema version
version: '3.4'

# Overriding requirements
services:
  client:
    deploy:
      replicas: 2
    volumes:
      - ${HOST_REPO_DIR:-.}/fedn:/app/fedn
      - ${HOST_REPO_DIR:-.}/examples/mnist-keras/data:/var/data
      - /var/run/docker.sock:/var/run/docker.sock
