name: "branch name check"

on: 
  push:
    branches-ignore:
      - develop
      - master

env:
  BRANCH_REGEX: '^((feature|hotfix|bugfix|docs)\/.+)|(release\/v((([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?))$'

jobs:
  branch-name-check:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      
      - name: branch name check
        run: |
          git rev-parse --abbrev-ref HEAD | grep -P "$BRANCH_REGEX"