name: "build containers"

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - develop
      - master
  release:
    types: [published]

jobs:
  build-containers:
    runs-on: ubuntu-20.04

    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v2

      - name: Setup variables
        id: wf-vars
        env:
          BASE_BRANCH: ${{ github.base_ref }}
        run: |
          IMAGE_TAG=${GITHUB_REF##*/}
          echo "BASE_BRANCH=${BASE_BRANCH}"
          echo "IMAGE_TAG=${IMAGE_TAG}"
          echo ::set-output name=IMAGE_TAG::$IMAGE_TAG

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: "${{ github.event_name != 'pull_request' }}"
          tags: docker.pkg.github.com/${{ github.repository }}/fedn:${{ steps.wf-vars.outputs.IMAGE_TAG }}
          file: Dockerfile

      - name: Build and push (mnist-keras)
        uses: docker/build-push-action@v2
        with:
          push: "${{ github.event_name != 'pull_request' }}"
          tags: docker.pkg.github.com/${{ github.repository }}/fedn:${{ steps.wf-vars.outputs.IMAGE_TAG }}-mnist-keras
          file: Dockerfile
          build-args:
            - REQUIREMENTS=examples/mnist-keras/requirements.txt

      - name: Build and push (mnist-pytorch)
        uses: docker/build-push-action@v2
        with:
          push: "${{ github.event_name != 'pull_request' }}"
          tags: docker.pkg.github.com/${{ github.repository }}/fedn:${{ steps.wf-vars.outputs.IMAGE_TAG }}-mnist-pytorch
          file: Dockerfile
          build-args:
            - REQUIREMENTS=examples/mnist-pytorch/requirements.txt
