name: "integration tests"

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '.github/**'
    branches:
      - master
      - develop
      - "release/**"
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '.github/**'
    branches:
      - "**"

jobs:
  integration-tests:
    strategy:
      matrix:
        to_test:
          - "mnist-keras numpyhelper"
          - "mnist-pytorch numpyhelper"
        python_version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        os:
          - ubuntu-22.04
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}

      - name: run ${{ matrix.to_test }}
        run: .ci/tests/examples/run.sh ${{ matrix.to_test }}

      # - name: run ${{ matrix.to_test }} prediction
      #   run: .ci/tests/examples/run_prediction.sh ${{ matrix.to_test }}
      #   if: ${{ matrix.os != 'macos-11' && matrix.to_test == 'mnist-keras keras' }} # example available for Keras

      - name: print logs
        if: failure()
        run: .ci/tests/examples/print_logs.sh
