name: Integration Test Studio

on:
  schedule:
    - cron: '0 0 * * *'  # This cron expression runs the workflow every day at midnight UTC
  workflow_dispatch:  # Allows manual triggering of the workflow
    inputs:
      STUDIO_HOST:
        description: 'Studio Host'
        required: false
        default: 'api.studio.scaleoutplatform.com'
      STUDIO_USER:
        description: 'Studio User'
        required: false
        default: 'github@scaleoutsystems.com'
      FEDN_EXAMPLE:
        description: 'FEDN Example'
        required: false
        default: 'mnist-pytorch'
      FEDN_NR_CLIENTS:
        description: 'Number of Clients'
        required: false
        default: '2'
      FEDN_NR_ROUNDS:
        description: 'Number of Rounds'
        required: false
        default: '5'
      FEDN_ROUND_TIMEOUT:
        description: 'Round Timeout'
        required: false
        default: '180'
      FEDN_BUFFER_SIZE:
        description: 'Buffer Size'
        required: false
        default: '-1'
      FEDN_FL_ALG:
        description: 'FL Algorithm'
        required: false
        default: 'fedavg'
      FEDN_NR_EXPECTED_AGG:
        description: 'Number of Expected Aggregations Per Round'
        required: false
        default: '2'
      FEDN_SESSION_TIMEOUT:
        description: 'Session Timeout'
        required: false
        default: '300'
      FEDN_SESSION_NAME:
        description: 'Session Name'
        required: false
        default: 'test'
      FEDN_CLIENT_TIMEOUT:
        description: 'Client Connection Timeout (OBS  - not related to round timeout)'
        required: false
        default: '300'

jobs:
  integration-test:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: Create and activate virtual environment
      run: |
        python -m venv venv
        source venv/bin/activate

    - name: Install dependencies
      run: |
        source venv/bin/activate
        python -m pip install --upgrade pip
        pip install .
        pip install -r .ci/tests/studio/requirements.txt

    - name: Generate .env file
      run: |
        echo "STUDIO_HOST=${{ github.event.inputs.STUDIO_HOST }}" > .ci/tests/studio/.env
        echo "STUDIO_USER=${{ github.event.inputs.STUDIO_USER }}" >> .ci/tests/studio/.env
        echo "FEDN_EXAMPLE=${{ github.event.inputs.FEDN_EXAMPLE }}" >> .ci/tests/studio/.env
        echo "FEDN_NR_CLIENTS=${{ github.event.inputs.FEDN_NR_CLIENTS }}" >> .ci/tests/studio/.env
        echo "FEDN_NR_ROUNDS=${{ github.event.inputs.FEDN_NR_ROUNDS }}" >> .ci/tests/studio/.env
        echo "FEDN_ROUND_TIMEOUT=${{ github.event.inputs.FEDN_ROUND_TIMEOUT }}" >> .ci/tests/studio/.env
        echo "FEDN_BUFFER_SIZE=${{ github.event.inputs.FEDN_BUFFER_SIZE }}" >> .ci/tests/studio/.env
        echo "FEDN_FL_ALG=${{ github.event.inputs.FEDN_FL_ALG }}" >> .ci/tests/studio/.env
        echo "FEDN_NR_EXPECTED_AGG=${{ github.event.inputs.FEDN_NR_EXPECTED_AGG }}" >> .ci/tests/studio/.env
        echo "FEDN_SESSION_TIMEOUT=${{ github.event.inputs.FEDN_SESSION_TIMEOUT }}" >> .ci/tests/studio/.env
        echo "FEDN_SESSION_NAME=${{ github.event.inputs.FEDN_SESSION_NAME }}" >> .ci/tests/studio/.env

    - name: Run integration tests
      env:
        STUDIO_PASSWORD: ${{ secrets.STUDIO_PASSWORD }}
      run: |
        source venv/bin/activate
        chmod +x .ci/tests/studio/studio.sh
        .ci/tests/studio/studio.sh