name: "integration tests"

on: 
  push:
    branches:
        - master
        - develop
        - 'release/**'
  pull_request:
    branches:
      - '**'

jobs:
  integration-tests:
    strategy:
      matrix:
        to_test:
          - "mnist-keras kerashelper"
          - "mnist-pytorch pytorchhelper"
        python_version: ["3.8", "3.9","3.10"]
        os:
          - ubuntu-20.04
          - ubuntu-22.04
          - macos-11
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python_version }}

      - name: configure ${{ matrix.to_test }}
        run: |
          echo 'BASE_IMG=python:${{ matrix.python_version }}-slim' > .env 
          .ci/tests/examples/configure.sh ${{ matrix.to_test }}
      
      - name: run ${{ matrix.to_test }}
        run: .ci/tests/examples/run.sh ${{ matrix.to_test }}
        if: ${{ matrix.os != 'macos-11' }} # skip Docker part for MacOS

      - name: run ${{ matrix.to_test }} inference
        run: .ci/tests/examples/run_inference.sh ${{ matrix.to_test }}
        if: ${{ matrix.os != 'macos-11' && matrix.to_test == 'mnist-keras keras' }} # example available for Keras

      - name: print logs
        if: failure()
        run: .ci/tests/examples/print_logs.sh
