name: Publish Python distribution to PyPI

on:
  workflow_dispatch:
  release:
    types: published

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install pypa/build
        run: python -m pip install build
        working-directory: ./

      - name: Build package
        run: python -m build
        working-directory: ./python

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.12
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages-dir: ./python/dist
