name: Test API Endpoints

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.0'

    - name: Install dependencies
      run: |
        python -m pip install .

    - name: Start mongo and minio
      run: |
        docker compose up -d mongo minio
      
    - name: Start FEDn controller
      run: |
        fedn controller start

    - name: Run tests
      run: |
        python3 -m unittest fedn.network.api.tests